@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-light-background dark:bg-netflix-dark-background text-custom-light-text dark:text-netflix-dark-text;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1400px;
  margin-inline: auto;
}